body {
    background: rgb(43, 137, 192);
    font: normal 15pt Arial;
    padding: 20px;
}

section{
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}


header{
    text-align: center;
}
div{
    padding: 10px;
}
 
